body {
  margin: 0;
  font-family: "Prata", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f55a5a;
  width: 100vw;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Satisfy", cursive;
}

.header > i {
  transform: scale(1.5);
  margin-top: 5px;
  color: white;
}

.header__title {
  color: white;
}

.cardImg {
  width: 162.5px;
  height: 218.4px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}

.location > i {
  gap: 20px;
  display: flex;
  margin-top: 64px;
  font-size: 13px;
}

.location__google__map {
  text-decoration: none;
  color: #918e9b;
}

.location__name {
  font-family: "Caveat", cursive;
  font-size: 25px;
}

.location__description {
  max-width: 400px;
  font-size: 11px;
}
